body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #333;
}

h1:first-of-type {
    margin-bottom: 10px;
    font-size: 28px;
}

h1:last-of-type {
    font-size: 20px;
    color: #666;
}

a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста (будет таким же, как у родительского элемента) */
}

/* Стиль ссылок при наведении */
a:hover, a:focus, a:active {
    text-decoration: none; /* Оставляем без подчеркивания */
    color: inherit; /* Оставляем цвет таким же */
}

.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 15px;
}
